.tu-destino {
    margin: 3rem 0 -1rem;
    font-size: var(--font-size-7xl);
    color: var(--color-dimgray);
}
.property-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}


.property-highlights {
    padding: 0 1rem;
}


.location-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.location-title {
    font-size: var(--font-size-2xl);
    margin: 3rem 0 1.5rem;
}

.image-icon {
    max-width: 230px;
    height: auto;
    border-radius: 70px;
    filter: drop-shadow(9px 4px 15.8px rgba(0, 0, 0, 0.703));
}

.view-more-button {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 6rem;
    align-items: center;
    background-color: var(--color-chocolate);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.view-more-button:hover {
    background-color: var(--color-dimgray);
    cursor: pointer;
    color: var(--color-chocolate);
}

.ver-mas {
    font-weight: 600;
    text-decoration: none;
}

.location-names {
    margin-top: 15px;
}

@media screen and (max-width: 768px) {

    .location-images,
    .location-triples {
        flex-basis: 50%;
    }
}