.component-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
}
.footer-item{
  margin: 0.2rem;
  width: fit-content;
}
.footer-item:hover{
  color: var(--color-chocolate);
  cursor: pointer;
}
.inicio-todos-hospedajes-container5 {
  width: 100%;
}
.inicio-todos-hospedajes-container4,
.logo-incial-icon3 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}
.inicio-todos-hospedajes-container4 {
  width: 23.25rem;
  line-height: 120%;
  font-weight: 600;
  display: -webkit-inline-box;
  align-items: center;
  -webkit-box-orient: vertical;
  flex-shrink: 0;
}
.logo-incial-icon3 {
  align-self: stretch;
  flex: 1;
  max-height: 100%;
  object-fit: cover;
}
.logo-incial-frame {
  height: 11.875rem;
  width: 22.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
}
.footer-container,
.footer {
  position: relative;
  display: flex;
  flex-direction: row;
}
.footer-container {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-whitesmoke);
  font-family: var(--title-hero);
}
.footer {
  margin-top: 5rem;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 825px) {
  .footer-container {
    flex-wrap: wrap;
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .inicio-todos-hospedajes-container4 {
    font-size: var(--font-size-lgi);
    line-height: 1.438rem;
  }
}
