.hotel-card {
  display: flex;
  background: rgba(255, 111, 0, 0.109);
  border-radius: 15px;
  box-shadow: 10px 9px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  height: 300px;
  width: 450px;
}

.hotel-card:hover {
  cursor: pointer;
  box-shadow: 0 5px 4px 4px rgba(0, 0, 0, 0.647);
}

.hotel-card__image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.hotel-card__content {
  padding: 1rem;
  padding-right: 0.3rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.hotel-card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  position: relative;
}

.hotel-card__location {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.hotel-card__details {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: start;
}

.hotel-card__details li {
  font-size: 0.9rem;
}

.hotel-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5rem;
}

.hotel-card__price {
  font-size: 1rem;
  font-weight: bold;
  color: #dc5f00;
}

.hotel-card__price-pn {
  color: #666;
  font-size: 0.9rem;
  font-weight: 400;
}

.hotel-card__button {
  background-color: #dc5f00;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.hotel-card__button:hover {
  background-color: #b44d00;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .hotel-card {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .hotel-card__image {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
  }

  .hotel-card__content {
    width: 98%;
    padding: 0.2rem;
  }

  .hotel-card__footer {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin: 0.5rem;
  }

  .hotel-card__header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;
    text-align: start;
    margin-left: 1rem;
  }

  .hotel-card__title,
  .hotel-card__location {
    margin: 0.5rem 0 0;
  }

  .hotel-card__details {
    text-align: left;
    margin: 0 1rem 0;
  }

  .hotel-card__price {
    text-align: end;
  }

}
