/* Estilos comunes para todos los enlaces */
.nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 1.25rem;
  font-weight: 500;
  text-shadow: 1px 1px 2.7px rgba(0, 0, 0, 0.25);
  display: inline-block;
  color: var(--color-darkslategray);
  min-width: 3.688rem;
}

/* Otros estilos existentes */
.logo-img {
  height: 5.275rem;
  width: 14.813rem;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  margin-right: 0.5rem;
}

.navigation .nav-link:hover {
  cursor: pointer;
  color: var(--color-chocolate);
}

.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.5);
  padding: 0 0 var(--padding-xs);
  max-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-smi) 0 0;
  line-height: normal;
  letter-spacing: normal;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--subheading-size);
  font-family: var(--m3-label-large-prominent);
}

.navigation-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}

/* Responsive adjustments */
@media screen and (max-width: 725px) {
  .header {
    flex-wrap: wrap;
    padding: var(--padding-smi);
    justify-content: center;
  }

  .logo-img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .navigation {
    width: 100%;
    justify-content: space-around;
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  .nav-link {
    font-size: var(--font-size-base);
    line-height: 1rem;
  }

  .navigation {
    flex-wrap: wrap;
    justify-content: center;
  }
}
