.nosotros-container {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nosotros-logo-section {
  width: 100%;
  text-align: center;
  background-color: black;
  padding: 2rem 0;
}

.nosotros-logo {
  width: auto;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.nosotros-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.nosotros-text {
  width: 100%;
  max-width: 1200px;
  padding: 0 3rem;
}

.nosotros-text p {
  margin-bottom: 1rem;
  color: #666;
}

.nosotros-section {
  max-width: 1200px;
  width: 100%;
  padding: 0 2rem 1rem;
  margin: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.nosotros-subtitle {
  font-size: 2rem;
  color: #dc5f00;
  margin: 1rem 0;
}

.nosotros-description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .nosotros-content {
    flex-direction: column;
    text-align: center;
  }

  .nosotros-logo-section,
  .nosotros-text {
    flex: none;
    padding: 0;
  }

  .nosotros-logo {
    max-width: 100%;
    height: auto;
    margin-top: 4rem;
  }

  .nosotros-section {
    padding: 0 1rem 1rem;
    margin: 20px;
    width: 90%; /* Ajustar el ancho en dispositivos móviles */
  }

  .nosotros-subtitle {
    font-size: 1.5rem;
  }

  .nosotros-description {
    font-size: 1rem;
  }

  .nosotros-text {
    padding: 0 1rem;
    width: 90%; /* Ajustar el ancho en dispositivos móviles */
  }
}

@media (max-width: 450px) {
  .nosotros-logo {
    height: 150px;
  }

  .nosotros-subtitle {
    font-size: 1.2rem;
  }

  .nosotros-description {
    font-size: 0.9rem;
  }

  .nosotros-text {
    padding: 0 0.5rem;
    width: 90%; /* Ajustar el ancho en dispositivos muy pequeños */
  }
}
