.nosotros-container {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nosotros-logo-section {
  width: 100%;
  text-align: center;
  background-color: black;
  padding: 2rem 0; /* Añadir padding para dar espacio alrededor de la imagen */
}

.nosotros-logo {
  width: auto;
  height: 250px; /* Tamaño fijo de la imagen */
  display: block;
  margin: 0 auto;
}

.nosotros-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Ajustar dirección de los elementos */
  margin-top: 1rem; /* Añadir margen superior */
}

.nosotros-text {
  width: 100%;
  max-width: 1200px; /* Limitar el ancho del texto */
  padding: 0 3rem;
}

.nosotros-text p {
  margin-bottom: 1rem;
  color: #666;
}

.nosotros-section {
  max-width: 1200px; /* Limitar el ancho para alineación centrada */
  width: 100%; /* Asegurar que ocupe el ancho completo disponible */
  padding: 0 2rem 1rem;
  margin: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  background-color: #fff; /* Añadir fondo blanco para contraste */
}

.nosotros-subtitle {
  font-size: 2rem;
  color: #dc5f00;
  margin: 1rem 0; /* Espaciado superior e inferior */
}

.nosotros-description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .nosotros-content {
    flex-direction: column;
    text-align: center;
  }

  .nosotros-logo-section,
  .nosotros-text {
    flex: none;
    padding: 0;
  }

  .nosotros-logo {
    max-width: 100%;
    height: auto;
    margin-top: 4rem;
  }
}
