@import 'styles/NavBar.css';
@import 'styles/SearchBar.css';
@import 'styles/Destinos.css';
@import 'styles/Footer.css';
@import 'styles/Nosotros.css';
@import 'styles/HotelCatalog.css';
@import 'styles/HotelDetail.css';

main {
  padding-top: 3.875rem; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #212121;
  border-radius: 45%;
  margin: 0;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.whatsapp-button:hover {
  background-color: var(--color-chocolate);
}

.whatsapp-button img {
  width: 40px;
  height: 40px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }
  main {
  padding-top: .875rem; 
}
}

@media (max-width: 480px) {
  .App-logo {
    height: 30vmin;
  }
  main {
  padding-top: .875rem; 
}
  .App-header {
    padding: 1rem;
  }
}
