body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --scrollbar-width: 0.3em;
  --scrollbar-color: var(--color-chocolate);
}

/* WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width); /* Para scrollbar horizontal */
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 26px var(--scrollbar-color);
  background: transparent;
  border-radius: 10px; /* Redondear los bordes de la pista */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px; /* Redondear los bordes del pulgar */
  border: 3px solid transparent; /* Espacio alrededor del pulgar */
  background-clip: content-box;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */

  --heading: 'Roboto', sans-serif;
  --m3-label-large-prominent: 'Roboto', sans-serif;
  --font-poppins: 'Roboto', sans-serif;

  --title-page: Roboto;
  --m3-label-large-prominent: Roboto;
  --font-poppins: Poppins;

  /* font sizes */
  --heading-size: 1.5rem;
  --font-size-lgi: 1.188rem;

  --font-size-7xl: 1.625rem;
  --font-size-2xl: 1.313rem;
  --subheading-size: 1.25rem;
  --font-size-base: 1rem;
  --m3-label-large-prominent-size: 0.875rem;
  --title-hero-size: 4.5rem;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke: #eee;
  --color-black: #000;
  --color-dimgray: #686d76;
  --color-chocolate: #dc5f00;
  --color-darkslategray: #373a40;

  --font-size-2xl: 1.313rem;
  --font-size-7xl: 1.625rem;
  --font-size-base: 1rem;
  --subheading-size: 1.25rem;
  --m3-label-large-prominent-size: 0.875rem;
  --title-hero-size: 4.5rem;
  --font-size-17xl: 2.25rem;
  --font-size-3xl: 1.375rem;
  --font-size-10xl: 1.813rem;

  /* Colors */
  --color-chocolate: #dc5f00;
  --color-chocolate-100: rgba(220, 95, 0, 0.08);
  --color-dimgray: #686d76;
  --color-darkslategray: #373a40;
  --color-black: #000;
  --color-white: #fff;
  --color-whitesmoke: #eee;


  /* Gaps */
  --gap-xl: 1.25rem;
  --gap-2xs: 0.687rem;


  /* Paddings */
  --padding-31xl: 3.125rem;
  --padding-39xl: 3.625rem;
  --padding-5xl: 1.5rem;
  --padding-xs: 0.75rem;
  --padding-xl: 1.25rem;
  --padding-54xl: 4.562rem;
  --padding-17xl: 2.25rem;
  --padding-3xs: 0.625rem;
  --padding-2xl: 1.312rem;
  --padding-sm: 0.875rem;
  --padding-4xs: 0.562rem;

  /* Border radiuses */
  --br-sm: 14px;
  --br-mini: 15px;
  --br-9xl: 28px;

  --gap-mid: 1.062rem;
  --gap-lgi: 1.187rem;
  --gap-5xs: 0.5rem;
  --gap-48xl: 4.187rem;
  --gap-14xl: 2.062rem;
  --gap-mini: 0.937rem;
  --gap-12xl: 1.937rem;
  --gap-36xl: 3.437rem;
  --gap-8xl: 1.687rem;
  --gap-4xs: 0.562rem;
  --gap-23xl: 2.625rem;
  --gap-2xl: 1.312rem;
  --gap-sm: 0.875rem;

  /* Paddings */
  --padding-7xl: 1.625rem;
  --padding-93xl: 7rem;
  --padding-31xl: 3.125rem;
  --padding-29xl: 3rem;
  --padding-39xl: 3.625rem;
  --padding-10xl: 1.812rem;
  --padding-5xl: 1.5rem;
  --padding-xs: 0.75rem;
  --padding-6xl: 1.562rem;
  --padding-xl: 1.25rem;
  --padding-54xl: 4.562rem;
  --padding-17xl: 2.25rem;
  --padding-13xl: 2rem;
  --padding-3xs: 0.625rem;
  --padding-2xl: 1.312rem;
  --padding-71xl: 5.625rem;
  --padding-sm: 0.875rem;
  --padding-12xl: 1.937rem;
  --padding-4xl: 1.437rem;
  --padding-mid: 1.062rem;
  --padding-3xl: 1.375rem;
  --padding-4xs: 0.562rem;
  --padding-18xl: 2.312rem;
  --padding-smi: 0.812rem;
  --padding-30xl: 3.062rem;
  --padding-2xs: 0.687rem;
  --padding-base: 1rem;
  --padding-mini: 0.937rem;
  --padding-12xs: 0.062rem;
  --padding-8xs: 0.312rem;
  --padding-43xl: 3.875rem;
  --padding-8xl: 1.687rem;

  /* Border radiuses */
  --br-mini: 15px;
  --br-sm: 14px;
  --br-9xl: 28px;
  --br-6xl: 25px;
  --br-101xl: 120px;
  --br-81xl: 100px;
  --br-17xl: 36px;

}